# Entorno virtual y carpetas de sistema
venv/
__pycache__/
*.pyc

# Variables de entorno (¡Muy importante por seguridad!)
.env

# Archivos de base de datos local
db.sqlite3

# claves secretas y configuraciones sensibles
config/settings